<!DOCTYPE html>
{% extends './base.html' %}

<head>
    {% block title %} 
        Roberto Dibon 
    {% endblock %}

    {% block customCSS %}
        <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>

<body>
    {% block body %}

    <header class="header">
        <a href="#" class="logo">About.</a>

        <nav class="navbar">
            <a href ="{{ url_for ('index') }}">Home</a>
            <a href ="{{ url_for ('about') }}" class="active">About</a>
            <a href ="{{ url_for ('projects') }}">Projects</a>
            <a href ="{{ url_for ('contact') }}">Contact</a>
        </nav>
    </header>

    <section class="main">
        <div class="main_text">
            <h1>About Me</h1>
            <p>Educated at the Technological University of Buenos Aires and the Cisco Networking Academy
                in Computer Science, where I specialized in Python, I define myself as a persevering and 
                tenacious person, with a great ability to adapt to teamwork. Curious and creative by 
                nature, I dedicate my free time to learning and researching new technologies.
            </p>
        </div>

        <div class="home_smedia">
            <a href="https://www.linkedin.com/in/robertodibon">
                <img src="{{url_for('static', filename='img/linkedin_bw.svg')}}"> 
            </a>
            <a href="https://github.com/RobertoDibon">
                <img src="{{url_for('static', filename='img/github_bw.svg')}}"> 
            </a>
        </div>

    </section>

    {% endblock %}
</body>