* {
    margin: 0;
    padding: 0;
_box-sizing: border_box;
}

@font-face {
    font-family: 'poppins_sb';
    src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    background: #081b29;
    color: #ededed;
}               


/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'poppins_sb', sans-serif;
}   

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    z-index: 2;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before { 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
}

nav a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #00abf0;
}


/* Section main */
.main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}


/* Div main_text */
.main {
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.main_text {
    max-width: 600px;
}

.main_text h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.main_text h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
}

.main_text p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.main_text p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
}


/* Form-group  */
.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 208px;
}

.form-group::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group button {
    margin-top: 16px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: transparent;
    outline: 2px solid #00abf0; 
    outline-offset: -2px; 
    border-radius: 8px;
    font-size: 16px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.form-group button:hover {
    color :#081b29;;
} 

.form-group button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29; 
    animation: showRight 1s ease forwards;
    z-index: 5; 
}

.form-group button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.form-group button:hover::before{
    width: 100%;
}


/* Div home_smedia */
.home_smedia {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home_smedia::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    z-index: 2;
}

.home_smedia a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 25%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}   

.home_smedia a:hover {
    color: #081b29;
}

.home_smedia a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home_smedia a:hover::before { 
    width: 100%;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}
